body
{
    height: auto;
    min-height: 100vh;
}

p
{
    font-size: x-large;
    text-align: center;
}

.work_experience_img1
{
    width:25%;
    border: 4px solid black;
}

.work_experience_img2
{
    width:33.3%;
    border: 4px solid black;
}

.work_experience_img3
{
    width:27.2%;
    border: 4px solid black;
}

.microsoft_certificate_img
{
    width:40%;
    border: 4px solid black;
}

.relative_link
{
    position:absolute;
    bottom:0;
    left: 50%;
    transform: translate(-50%);
    color:royalblue;
    font-size: x-large;
    text-align: center;
}

.unit3_img
{
    width:30%;
    border: 4px solid black;
}

.unit13_img
{
    width:30%;
    border: 4px solid black;
}


.education_selector
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    position: relative;
    left: 1.5vw;
    width: 95.8vw;
    height: 10vh;
    border: 4px solid black;    
    overflow-wrap: break-word;
} 

.education_name
{
    display:flex;
    position: relative;
    left: 1.5vw;
    cursor:pointer;
}

.closed_edu_menu
{
    width: 0px;
    height: 0px;
}

.open_edu_menu
{
    display:flex;
    position: relative;
    left: 1.5vw;
    width:95.8vw;
    height:78vh;
    border: 4px solid black;
    overflow-y: auto;
}

.education_opener
{
    display:none;
}


