body
{
    height: auto;
    min-height: 100vh;
}

.tvhead_gif_container
{
    display:flex;
    justify-content: center;
    width:98%;
}

.tvhead_gif
{
    width:20vmax;
}

.aboutme_home_container
{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding:10px;
    position: relative;
    left: 1vw;
    width: 95.8vw;
    height: 35%;
    border: 4px solid black;
    overflow-wrap:break-word;
    overflow-y: auto;
}

.aboutme_text
{
    align-self: flex-start;
}

.quote
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    bottom:0;
    width: 100%;
    height: 9.65vh;
    background-color: black;
    overflow-y: auto;
}